<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="PP_Stand_Thin">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="3.70547995521113E-17 -9.86724867997304E-18 0.0786363636363636"
        rpy="0 0 0" />
      <mass
        value="43.56" />
      <inertia
        ixx="0.369475"
        ixy="-3.44795083688047E-17"
        ixz="2.94473267384993E-17"
        iyy="0.670127"
        iyz="-2.32149805563971E-18"
        izz="0.506748" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://PP_Stand_Thin/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.431372549019608 0.450980392156863 0.431372549019608 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://PP_Stand_Thin/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>